<header>
    <div class="container">
        <h1 class="title">Josh Mendoza</h1>
        <button class="toggle_menu" (click)="toggle_menu()">
            <i class="fa fa-solid fa-bars"></i>
        </button>
        <div class="hello" *ngIf="showMenu">Test
            <div class="navigation">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/About">About</a></li>
                    <li><a routerLink="/spotify">Spotify</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="info">
        <div class="info row1">
            <H1 class="welcome">Welcome to my personal page!</H1>
        </div>
        
        <div class="info row2">
            <img class="profile_img" src="assets/img/profile.jpg" alt="profile">

            <p class="description">You are probably finding this from Instagram, just know this is a work in progess! (:  I am creating this website from scratch and am excited to see where this goes!  Feel free to click on the links above and look around.</p>
        </div>
    </div>
</body>

<router-outlet></router-outlet>

