
<div class="navigation">
    <a routerLink="/">Home</a><br>
    <a routerLink="/About">About</a><br>
    <a routerLink="/spotify">Spotify</a><br>
</div>



<body>
    <H1>Welcome to my barebones-website about me!</H1>

    <p>You are probably finding this from instagram, just know this is a work in progess! (:  I am creating this website from scratch and am excited to see where this goes!</p>

    <img class="profile_img" src="assets/img/profile.jpg" alt="profile">


</body>

<router-outlet></router-outlet>

